@charset "utf-8";
 
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
  
}


body{
    background:black url(../imagens/back-phone.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center center;
   

}
main{
    background-color: rgba(255, 255, 255, 0.712);
    margin:auto;
    padding: 10px;
    border-radius: 10px;
    width: 90vw;
   

}
main>h1{
    color: white;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.596);
}
img{
    display: block;
    margin: auto;
}
img#phone{
    display: block;
}
img#tablet{
    display: none;
}
img#tv{
display: none;
}
img#print{display: none;}
img#pc{display: none;}