@charset "utf-8";
 
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    width: 100vw;
    height: 100vh;
}


body{
    background:black url(../imagens/back-phone.jpg);
}
main{
    background-color: rgba(255, 255, 255, 0.712);
    margin:auto;
    padding: 10px;
    border-radius: 10px;
    width: 90vw;
    
}